<div class="l-navbar">
    <!-- Movil Hamburgesa -->
    <div class="hamburger hamburger--slider" id="hamburger">
        <span class="hamburger__box">
            <span class="hamburger__inner"></span>
        </span>
    </div>

    <!-- Table ++  -->
    <div class="navbar">
        <button class="navbar__button-circle" matRipple>
                <mat-icon>view_list</mat-icon>
        </button>
        
        <img class="navbar__photo"src="./../../../assets/img/admin/usuario.png"  alt="usuario">
    </div>

</div>


